<!doctype html>
<html ng-app>
    <head>
    
    <title>Compteur</title>

    </head>

    <body>

    <button ng-click="count = count + 1" ng-init="count=0">Incrementer</button>
    count: {{count}}

    <script src="assets/js/angular.min.js"></script>

    </body>
</html>