

<div class = "list-group">

    <div ng-repeat="ta in taskSet">
        
        <label class="list-group-item">
            <!--<input type="checkbox" ng-model="ta.done" ng-click="saveTaskSet()" />-->
            <span ng-bind="ta.taskName" ng-style="{ 'text-decoration' : (ta.done) ? 'line-through' : 'none' }"></span>
        </label>
        
    </div>
</div>