<!doctype html>
<html ng-app="helloApp">
    <head>
    
    <title>Hello World</title>

    </head>

    <body>

        <div ng-controller="helloCtrl">

        <h2>Hello {{ name }}!</h2>

        <h2>Hello <span ng-bind="name"></span>!</h2>

        </div>

        <script src="assets/js/angular.min.js"></script>
        
        <script>
        
        var helloApp = angular.module('helloApp', []);

        helloApp.controller('helloCtrl', ['$scope', function ($scope) {
            $scope.name = 'World';
        }]);

        </script>

        <!--<script src="javascript/helloworld.js"></script>-->

    </body>
</html>