<html ng-app="myApp">
    
    <head>
    
        <title>My Youtube Player</title>
        
        <!-- CSS declaration -->     
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"/>
        <!-- END CSS declaration -->
    
    <style>
    
    @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
    
</style>
    
    </head>
    
    <body>
        
        <!--<div ng-controller="AppCtrl">
            
            <form ng-submit="launchSearch()" novalidate>
                
                <input type="text" ng-model="search.term" />
                <input type="submit" value="Chercher" />
                  
            </form>
            
            <br />
            <br />
            
            Résultats : <span ng-bind="resVideo.pageInfo.totalResults"></span>
            
            <br/>
            <br/>
            
            <div ng-repeat="dt in resVideo">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img ng-src="{{dt.snippet.thumbnails.medium.url}}" alt="Lorem ipsum" /></a>
                <span ng-bind="dt.id.videoId"></span>  : <span ng-bind="dt.snippet.title"></span>
            </div>    
            
        </div>-->
        
        
        
        <div ng-view></div>
        
        <!-- JS declaration -->
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-route.min.js"></script>
        <script src="assets/js/youtube.js"></script>
        
        <!--<script src="/assets/js/angular-ui-router.min.js"></script>-->
        <!--<script src="/assets/js/ocLazyLoad.min.js"></script>-->
        <!--<script src="/assets/js/jquery-2.1.4.min.js"></script>-->
        <!--<script src="/assets/js/bootstrap.min.js"></script>-->
        <script src="javascript/main1.js"></script>
        
        <!-- END JS declaration -->
    </body>
    
</html>