<div class="container">
            
            <form ng-submit="launchSearch()" novalidate>
                
                <input class="form-control" type="text" ng-model="search.term" />
                <input type="submit" class="btn btn-primary form-control" value="Chercher"/>
                <!--<span class="glyphicon glyphicon-search"></span> Chercher</button>-->
            </form>
            
            <hgroup class="mb20" ng-show="result.items">
                <h1>Résultats</h1>
                <h2 class="lead">
                    <strong class="text-danger" ng-bind="result.pageInfo.totalResults">3</strong> results were found for the search for <strong class="text-danger" ng-bind="search.term"></strong>
                </h2>								
            </hgroup>

            <section class="col-xs-12 col-sm-6 col-md-12">
                
                <article class="search-result row" ng-repeat="res in result.items">
                
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a href="#/show/{{res.id.videoId}}" title="Lorem ipsum" class="thumbnail"><img ng-src="{{res.snippet.thumbnails.medium.url}}" alt="Lorem ipsum" /></a>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        
                        <ul class="meta-search">
                            <li><i class="glyphicon glyphicon-calendar"></i> <span ng-bind="res.snippet.publishedAt |  date:'MM/dd/yyyy'"></span></li>
                            <li><i class="glyphicon glyphicon-time"></i> <span ng-bind="res.snippet.publishedAt |  date:'HH:mm'"></span></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <span ng-bind="res.snippet.channelTitle"></span></li>
                        </ul>
                        
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a href="#/show/{{res.id.videoId}}" title="" ng-bind="res.snippet.title"></a></h3>
                        <p ng-bind="res.snippet.description"></p>						
                        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                    </div>
                    <span class="clearfix borda"></span>
                    
                </article>
                
            </section>
            
        </div>