<div class="container">

<!--<youtube id="{{videoId}}" width="640" height="360"></youtube>-->

    <iframe width="640" height="360" ng-src="{{urlVideoId}}" frameborder="0" allowfullscreen></iframe>

</div>