<html ng-app="todoApp">
    
    <head>
        <title>Test Upload File</title>
    </head>
    
    <body>
        
        <div ng-controller="TestCtrl">
            
            <h2> Controller 1 Test Upload File</h2>
            
            <button ng-click="getFile()">Récupérer contenu fichier</button>
            
            <br/>
            <br/>
                        
            FILE : <span ng-bind="file"></span>

            <br/>
            
        </div>
        
        <br/>
        <br/>
        
        <div ng-controller="Test2Ctrl">
            
            <h2> Controller 2</h2>
            
            Hello {{firstName}} ! 
         </div>
    
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
            //to initialize angular
            var todoApp = angular.module('todoApp', []);
            
            todoApp.controller('TestCtrl', ['$scope','$http', 
                function($scope, $http){
                    $scope.modifyFirstName = function(){
                        $scope.firstName='test';
                    };
                    
                    $scope.getFile = function(){
                        
                       $http.get('/testFile.aap', null).then(function(resp){
                           console.log(resp);
                           $scope.file = resp.data;
                       },
                       function(err){
                           console.log(err);
                       });
                       
                    };    
            }]);
            
            todoApp.controller('Test2Ctrl', ['$scope', function($scope){
                $scope.firstName='JE SUIS LE NOM 2';
            }]);
            
        </script> 
        
</html>