<html ng-app="todoApp">
    
    <head>
        <title>Todo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    
    <body ng-controller="TodoCtrl">
        
        <form ng-submit="addTask()">
            
            Ajouter la task  : <input type="text" ng-model="taskName" />
            <input type="submit" value="Ajouter" />
            
        </form>
        
        <br />
        <br />
        
        <div ng-repeat="ta in taskSet">
            
            <label>
                <input type="checkbox" ng-model="ta.done" />
                <span ng-bind="ta.taskName" ng-style="{ 'text-decoration' : (ta.done) ? 'line-through' : 'none' }"></span>
            </label>
            
        </div>
        
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
        
        <script src="assets/js/angular.min.js"></script>
        <script src="javascript/todo3.js"></script>  
    
    </body>
    
</html>