<html ng-app="todoApp">
    
    <head>
        <title>Todo</title>
    </head>
    
    <body >
        
        <div ng-controller="TestCtrl">
            
            <h2> Controller 1</h2>
            
            Votre prénom  : <input type="text" ng-model="firstName" />
            
            <br/>
            <br/>
            
            Hello {{firstName}} ! <br/>

            Hello <span ng-bind="firstName"></span> !

            <br/>
            <br/>
            <br/>
            
            <button ng-click="modifyFirstName()">Modifier le nom</button>
        
        </div>
        
        <br/>
        <br/>
        
        <div ng-controller="Test2Ctrl">
            
            <h2> Controller 2</h2>
            
            Hello {{firstName}} ! 
         </div>
    
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
            //to initialize angular
            var todoApp = angular.module('todoApp', []);
            
            todoApp.controller('TestCtrl', ['$scope', function($scope){
                $scope.modifyFirstName = function(){
                    $scope.firstName='test';
                }
            }]);
            
            todoApp.controller('Test2Ctrl', ['$scope', function($scope){
                $scope.firstName='JE SUIS LE NOM 2';
            }]);
            
        </script> 
        
</html>