<div class="container">      
      
        <form role="form" ng-submit="addTask()">
            <div class="form-group">
                <input type="text" ng-model="taskName" placeholder="Tache" class="form-control" />
                <input type="submit" value="Ajouter" class="form-control btn btn-primary" />
            </div>
        </form>
        
        <br />
        
        
        Nombre d'item  {{nbItem}}
        
        <div class = "list-group">
        
            <div ng-repeat="ta in taskSet">
                
                <label class="list-group-item">
                    <input type="checkbox" ng-model="ta.done" ng-click="saveTaskSet()" />
                    <span ng-bind="ta.taskName" ng-style="{ 'text-decoration' : (ta.done) ? 'line-through' : 'none' }"></span>
                        <a href="javascript:void(0)" ng-click="delTask(ta)" class="btn pull-right">X</a>
                </label>
                
            </div>
        </div>
        
        
        
</div>        