<html ng-app="todoApp">
    
    <head>
        <title>Todo</title>
        
        <!-- CSS declaration -->     
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"/>
        <!-- END CSS declaration -->
    </head>
    
    <body ng-controller="VideoCtrl">
        
        
            <video ng-src="{{urlVideo}}" controls></video>
        


    </body>
    
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="javascript/video.js"></script>  
    
</html>