<div class="container">      
      
        <form role="form" ng-submit="search()">
            <div class="form-group">
                <input type="text" ng-model="searchObject.term" placeholder="..." class="form-control" />
                <input type="submit" value="Chercher" class="form-control btn btn-primary" />
            </div>
        </form>
        
        <br />
        

        
        <!--<div class = "list-group">
        
            <div ng-repeat="you in youtubeResultSet">
                
                <label class="list-group-item">
                    
                    <span ng-bind="ta.taskName" ng-style="{ 'text-decoration' : (ta.done) ? 'line-through' : 'none' }"></span>
                        <a href="javascript:void(0)" ng-click="delTask(ta)" class="btn pull-right">X</a>
                </label>
                
            </div>
        </div>-->
        
        <article class="search-result row" ng-repeat="res in result.items">
                
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a href="#/show/{{res.id.videoId}}" title="Lorem ipsum" class="thumbnail"><img ng-src="{{res.snippet.thumbnails.medium.url}}" alt="Lorem ipsum" /></a>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        
                        <ul class="meta-search">
                            <li><i class="glyphicon glyphicon-calendar"></i> <span ng-bind="res.snippet.publishedAt |  date:'MM/dd/yyyy'"></span></li>
                            <li><i class="glyphicon glyphicon-time"></i> <span ng-bind="res.snippet.publishedAt |  date:'HH:mm'"></span></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <span ng-bind="res.snippet.channelTitle"></span></li>
                        </ul>
                        
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a href="#/show/{{res.id.videoId}}" title="" ng-bind="res.snippet.title"></a></h3>
                        <p ng-bind="res.snippet.description"></p>						
                        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                    </div>
                    <span class="clearfix borda"></span>
                    
                </article>
        
</div>        